.hidden {
  visibility: hidden;
}

.photos-section {
  text-align: center;
}

.save-btn {
  transition: background-color 1s linear;
}

.primary-btn {
  background-color: #bdc3c7;
}

.highlighted-btn {
  background-color: #2ecc71;
}