<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li class="bg-warning"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form class"navbar-form" action="/signup" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= @user.email %>"/>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" value="<%= @user.password %>"/>
  </div>
  <button type="submit">Sign up</button>
</form>

<a href='/songs'>Back to Songs</a>