<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google Maps</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnZEJC9Ojr48MUwvZez08BApyAocMfuIo&signed_in=true&callback=initMap"></script>
</head>
<body>
  <%= yield %>
</body>
</html>