html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 25%;
  width: 30%;
  display: inline-block;
}

#pano {
  height: 60%;
}

#menu {
  width: 60%;
  height: 30%;
  display: inline-block;
}

.body-content {
  background-color: #EEEEEE;
}