<h1>Add a New Song</h1>

<form action='/songs' method='POST'>
  <p>
    <label for='title'>Song title:</label>
    <input type='text' name='title' />
  </p>
  <p>
    <label for='author'>Song author:</label>
    <input type='text' name='author' />
  </p>
  <p>
    <label for='url'>URL:</label>
    <input type='text' name='url' />
  </p>
  <button type='submit'>Add Song</button>
</form>