<form action="/contacts" id="contact-form" class="pure-form">
    <legend>Create a new contact</legend>
    <input id="firstname" name="contact[firstname]" placeholder="First Name" />
    <input id="lastname" name="contact[lastname]" placeholder="Last Name" />
    <input id="email" name="contact[email]" placeholder="Email" />
    <button id="create-contact" class="pure-button pure-button-primary">Add Contact</button>
</form>
