<h1>Home Page</h1>

<div id="photos-container">
</div>

<div>
  <button id="load-btn">Show Contacts</button>
</div>

<div>
  <input id="search" name="search" />
  <button id="search-btn">Search Contacts</button>
</div>

<div class="form-container">
  <%= erb :_form %>
</div>

<%= erb :_table %>