<h1>Lighthouse Loft</h1>

<div id="photos-container">
</div>

<div>
  <h5>Add New Contact</h5>
  <%= erb :_form %>
</div>

<div>
  <h5>All Contacts</h5>
  <input id="search-field" name="search" placeholder="Search Name or email" type="text" />
  <%= erb :_table %>
</div>