<h1>Lighthouse Loft</h1>

<div id="photos-container" class="pure-g">
</div>

<div>
  <button id="load-btn" class="pure-button pure-button-primary">Show Contacts</button>
</div>

<div class="pure-form">
  <input id="search-field" name="search" placeholder="Name or email" />
</div>

<div class="form-container">
  <%= erb :_form %>
</div>

<%= erb :_table %>