<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.0/mustache.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <script id="contact-template" type="text/html">
    <tr class="contact" id={{ id }}>
      <td>{{ firstname }}</td>
      <td>{{ lastname }}</td>
      <td> {{ email }} </td>
      <td><button class='delete-btn'>Delete</button></td>
    </tr>
  </script>
</body>
</html>
