<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- application.css is where you put your styles -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/songs" class="navbar-brand">Song Wall</a>
      </div>
      <div class="navbar-collapse collapse">
        <% if current_user %>
          <p>You are signed in as <%= current_user.email %></p>
          <a href="/logout">Logout</a>
        <% else %>
          <% if @errors %>
            <p><%= @errors %></p>
          <% end %>
          <form action="/login" method="POST" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="email"  class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="text" name="password"  class="form-control" placeholder="Password" />
            </div>
            <button class="btn btn-success" type="submit">Login</button>
          </form>
          <a href="/signup">Sign up</a>
        <% end %>
        </div>
      </div>
  </nav>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
