<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div>
    <% if logged_in? %>
      <p>You are signed in as <%= current_user.email %></p>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <% else %>
      <p>Please login</p>
      <form action="/login" method="POST">
        <p>
          <label for="email">Email</label>
          <input type="text" name="email" />
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" />
        </p>
        <button type="submit">Login</button>
      </form>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
