* {
  margin: 0; }

body {
  background: url("../images/table_texture.jpg");
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
  font-size: 17px; }

.card-1 {
  background: url("../images/1.png") no-repeat;
  background-size: cover; }
  .card-1.guess-card {
    -webkit-transform: translate(30%, 0);
    -moz-transform: translate(30%, 0);
    -o-transform: translate(30%, 0);
    transform: translate(30%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-1.guess-card:hover {
      -webkit-transform: translate(20%, 20px);
      -moz-transform: translate(20%, 20px);
      -o-transform: translate(20%, 20px);
      transform: translate(20%, 20px); }

.card-2 {
  background: url("../images/2.png") no-repeat;
  background-size: cover; }
  .card-2.guess-card {
    -webkit-transform: translate(60%, 0);
    -moz-transform: translate(60%, 0);
    -o-transform: translate(60%, 0);
    transform: translate(60%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-2.guess-card:hover {
      -webkit-transform: translate(50%, 20px);
      -moz-transform: translate(50%, 20px);
      -o-transform: translate(50%, 20px);
      transform: translate(50%, 20px); }

.card-3 {
  background: url("../images/3.png") no-repeat;
  background-size: cover; }
  .card-3.guess-card {
    -webkit-transform: translate(90%, 0);
    -moz-transform: translate(90%, 0);
    -o-transform: translate(90%, 0);
    transform: translate(90%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-3.guess-card:hover {
      -webkit-transform: translate(80%, 20px);
      -moz-transform: translate(80%, 20px);
      -o-transform: translate(80%, 20px);
      transform: translate(80%, 20px); }

.card-4 {
  background: url("../images/4.png") no-repeat;
  background-size: cover; }
  .card-4.guess-card {
    -webkit-transform: translate(120%, 0);
    -moz-transform: translate(120%, 0);
    -o-transform: translate(120%, 0);
    transform: translate(120%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-4.guess-card:hover {
      -webkit-transform: translate(110%, 20px);
      -moz-transform: translate(110%, 20px);
      -o-transform: translate(110%, 20px);
      transform: translate(110%, 20px); }

.card-5 {
  background: url("../images/5.png") no-repeat;
  background-size: cover; }
  .card-5.guess-card {
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -o-transform: translate(150%, 0);
    transform: translate(150%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-5.guess-card:hover {
      -webkit-transform: translate(140%, 20px);
      -moz-transform: translate(140%, 20px);
      -o-transform: translate(140%, 20px);
      transform: translate(140%, 20px); }

.card-6 {
  background: url("../images/6.png") no-repeat;
  background-size: cover; }
  .card-6.guess-card {
    -webkit-transform: translate(180%, 0);
    -moz-transform: translate(180%, 0);
    -o-transform: translate(180%, 0);
    transform: translate(180%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-6.guess-card:hover {
      -webkit-transform: translate(170%, 20px);
      -moz-transform: translate(170%, 20px);
      -o-transform: translate(170%, 20px);
      transform: translate(170%, 20px); }

.card-7 {
  background: url("../images/7.png") no-repeat;
  background-size: cover; }
  .card-7.guess-card {
    -webkit-transform: translate(210%, 0);
    -moz-transform: translate(210%, 0);
    -o-transform: translate(210%, 0);
    transform: translate(210%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-7.guess-card:hover {
      -webkit-transform: translate(200%, 20px);
      -moz-transform: translate(200%, 20px);
      -o-transform: translate(200%, 20px);
      transform: translate(200%, 20px); }

.card-8 {
  background: url("../images/8.png") no-repeat;
  background-size: cover; }
  .card-8.guess-card {
    -webkit-transform: translate(240%, 0);
    -moz-transform: translate(240%, 0);
    -o-transform: translate(240%, 0);
    transform: translate(240%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-8.guess-card:hover {
      -webkit-transform: translate(230%, 20px);
      -moz-transform: translate(230%, 20px);
      -o-transform: translate(230%, 20px);
      transform: translate(230%, 20px); }

.card-9 {
  background: url("../images/9.png") no-repeat;
  background-size: cover; }
  .card-9.guess-card {
    -webkit-transform: translate(270%, 0);
    -moz-transform: translate(270%, 0);
    -o-transform: translate(270%, 0);
    transform: translate(270%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-9.guess-card:hover {
      -webkit-transform: translate(260%, 20px);
      -moz-transform: translate(260%, 20px);
      -o-transform: translate(260%, 20px);
      transform: translate(260%, 20px); }

.card-10 {
  background: url("../images/10.png") no-repeat;
  background-size: cover; }
  .card-10.guess-card {
    -webkit-transform: translate(300%, 0);
    -moz-transform: translate(300%, 0);
    -o-transform: translate(300%, 0);
    transform: translate(300%, 0);
    -webkit-transition: -webkit-transform 0.4s linear;
    -moz-transition: -moz-transform 0.4s linear;
    -o-transition: -o-transform 0.4s linear;
    transition: transform 0.4s linear; }
    .card-10.guess-card:hover {
      -webkit-transform: translate(290%, 20px);
      -moz-transform: translate(290%, 20px);
      -o-transform: translate(290%, 20px);
      transform: translate(290%, 20px); }

.card {
  position: absolute;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 150px;
  height: 210px;
  display: inline-block;
  z-index: 10; }
  .card.is-chosen {
    -webkit-transform: translate(240px, 240px);
    -moz-transform: translate(240px, 240px);
    -o-transform: translate(240px, 240px);
    transform: translate(240px, 240px); }
    .card.is-chosen:hover {
      -webkit-transform: translate(240px, 240px);
      -moz-transform: translate(240px, 240px);
      -o-transform: translate(240px, 240px);
      transform: translate(240px, 240px); }

.card-placearea {
  border-radius: 10px;
  border: 5px solid #C2BF3E;
  width: 180px;
  height: 240px;
  -webkit-transform: translate(220px, 220px);
  -moz-transform: translate(220px, 220px);
  -o-transform: translate(220px, 220px);
  transform: translate(220px, 220px); }

.flip-container {
  display: inline-block;
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 150px;
  height: 210px; }
  .flip-container.flipped .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .flip-container.flipped .flipper .front {
      z-index: 0; }
    .flip-container.flipped .flipper .back {
      z-index: 5; }

/* flip speed goes here */
.flipper {
  -webkit-transition: -webkit-transform 0.8s linear;
  -moz-transition: -moz-transform 0.8s linear;
  -o-transition: -o-transform 0.8s linear;
  transition: transform 0.8s linear;
  transform-style: preserve-3d;
  position: relative; }
  .flipper .front, .flipper .back {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0; }
  .flipper .front {
    background: url("../images/card_back.jpg") no-repeat;
    background-size: contain;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .flipper .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.cards-container {
  position: relative;
  margin: 15px auto;
  text-align: left;
  width: 650px; }

.bankroll-container {
  color: #ffff00;
  width: 100%;
  text-align: left;
  background-color: #000000;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  z-index: 10; }

.game-info {
  margin: 15px auto;
  padding: 15px;
  width: 300px;
  text-transform: uppercase;
  word-spacing: 5px;
  border: 5px solid #C2BF3E;
  border-radius: 10px;
  color: #C2BF3E; }

.bet-container input {
  padding: 10px;
  font-size: 18px;
  width: 100px; }
.bet-container button {
  margin-left: 15px;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  transition: color 1s linear; }
  .bet-container button:hover {
    color: yellow; }

#add-money {
  display: none; }

/*# sourceMappingURL=application.css.map */
