$font-stack: Verdana, sans-serif;
$gray: #5F9EA0;

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

body {
  font-family: $font-stack;
  font-size: 1.3em;
}

#team-members {
  clear: both;

  .member {
    float: left;
    margin: 20px;
    padding: 6px;
    transition: 1s linear;

    &:hover {
      @include transform(rotate(360deg));
    }
    .headshot {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-size: contain;
    }

    .name {
      text-align: center;
      margin: 5px 0; 
    }
  }
}

@each $name in 'arvinder', 'charlyne', 'david', 'don', 'jeremy', 'khurram',
'landon', 'michael', 'monica', 'murat', 'rosy', 'sherman', 'sylvia' {
  ##{$name} {
    background: url('../images/#{$name}.jpg');
    &:hover {
      background: url('../images/#{$name}_filtered.jpg');
    }
  }
}



