$font-stack: Verdana, sans-serif;

body {
  font-family: $font-stack;
  font-size: 1.5em;
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;
    }

    div {
      .name {
        text-align: center; 
      }
    }
  }
}