$font-stack: 'Roboto', sans-serif;
$gray: #121f1f;

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

body {
  font-family: $font-stack;
  font-size: 1em;
  color: $gray;
}

#team-members {
  padding: 0 50px;
  clear: both;

  .member {
    float: left;
    margin: 15px 30px;
    padding: 6px;
    transition: 1s linear;

    &:nth-child(odd):hover {
      @include transform(rotate(360deg));
    }

    &:nth-child(even):hover {
      @include transform(rotateY(180deg));
    }

    .headshot {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-size: contain;
      transition: 2s background linear;
    }

    .name {
      text-align: center;
      margin: 5px 0; 
    }
  }
}

@each $name in 'arvinder', 'charlyne', 'david', 'don', 'jeremy', 'khurram',
'landon', 'michael', 'monica', 'murat', 'rosy', 'sherman', 'sylvia' {
  ##{$name} {
    background: url('../images/#{$name}.jpg');
    &:hover {
      background: url('../images/#{$name}_filtered.jpg');
    }
  }
}



